@{
    Layout = null;
    ViewData["Title"] = "Login";
}

<head>
    <link rel="stylesheet" href="~/css/Login/login.css">
</head>
<div class="main-login">
    <div class="arrow-voltar">
        <a uk-icon="icon: arrow-left; ratio: 4" asp-area="" asp-controller="Home" asp-action="Index"></a>
    </div>
    <form class="right-login" action="Login" method="post">
        <div class="card-login">
            <h1>LOGIN</h1>
            <div class="textfield">
                <label for="usuario">Email</label>
                <input type="email" name="Email" placeholder="Email">
            </div>
            <div class="textfield">
                <label for="senha">Senha</label>
                <input type="password" name="senha" placeholder="Senha">
            </div>
            <button class="btn-login">Login</button>
        </div>
    </form>
    <div class="left-login">
        <p>Ainda não possui login?</p>
        <a asp-controller="Usuario" asp-action="Index">Cadastre-se</a>
    </div>
</div>
    
<script>
    login.init({
        urls: {
            login: '@Url.Action("Login")',
        }
    })
</script>
<script src="~/lib/uikit/js/uikit.min.js"></script>
<script src="~/lib/uikit/js/uikit-icons.min.js"></script>
<script src="~/lib/iziToast/js/iziToast.min.js"></script>
