@{
    Layout = null;
    ViewData["Title"] = "Cadastre-se";
}

<head>
    <link rel="stylesheet" href="~/css/Usuario/usuario.css">
</head>
<div class="main-cadastrar">
    <div class="arrow-voltar">
        <a class="voltar" uk-icon="icon: arrow-left; ratio: 4" asp-area="" asp-controller="Home" asp-action="Index"></a>
    </div>
    <form class="right-cadastrar" action="cadastrar" method="post">
        <div class="card-cadastrar">
            <h1>Trone-se um membro</h1>
            <div class="textfield">
                <label for="usuario">Nome</label>
                <input type="text" name="Nome" placeholder="Nome">
            </div>
            <div class="textfield">
                <label for="usuario">Email</label>
                <input type="email" name="Email" placeholder="Email">
            </div>
            <div class="textfield">
                <label for="senha">Senha</label>
                <input type="password" name="senha" placeholder="Senha">
            </div>
            <button class="btn-cadastrar">Cadastrar</button>
        </div>
    </form>
    <div class="left-cadastrar">
        <p>Já é um membro?</p>
        <a asp-controller="Login" asp-action="Index">Fazer login</a>
    </div>
</div>
    
<script>
    login.init({
        urls: {
            cadastrar: '@Url.Action("Cadastrar")',
        }
    })
</script>
<script src="~/lib/uikit/js/uikit.min.js"></script>
<script src="~/lib/uikit/js/uikit-icons.min.js"></script>
<script src="~/lib/iziToast/js/iziToast.min.js"></script>
