@{
    ViewData["Title"] = "Home Page";
}

<div class="container-buscar">
    <div class="filtros">
        <input type="button" name="departamentos" id="departamentos" value="Departamentos">
    </div>
    <div class="buscar">
        <input type="search" name="buscar" id="buscar">
    </div>
</div>
<div class="container-inicio">
    <div>
        <div class="container-produtos">
            <p>Produtos em destaque</p>
            <table>
                <tr>
                    <td>
                        <div class="produto-1">
                            <a href=""><img src="https://http2.mlstatic.com/D_NQ_NP_768302-MLB50454390723_062022-O.webp"></a>
                            <p>Preço - 110 R$</p>
                            <p>Camiseta Wanted - Clone</p>
                        </div>

                    </td>
                    <td>
                        <div class="produto-2">
                            <a href=""><img src="https://http2.mlstatic.com/D_NQ_NP_924508-MLB50454421340_062022-O.webp"></a>
                            <p>Preço - 110 R$</p>
                            <p>Camiseta Wanted - Faces</p>
                        </div>
                    </td>
                    <td>
                        <div class="produto-3">
                            <a href=""><img src="https://http2.mlstatic.com/D_NQ_NP_738231-MLB50454594603_062022-O.webp"></a>
                            <p>Preço - 110 R$</p>
                            <p>Camiseta Wanted - Lantem</p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
